/.gradle
/gradle.properties

/bin
/build/changes.xml
/out
/target
/test-output

/.classpath
/.idea
/.project
/.settings
/.vscode/launch.json
/.vscode/settings.json

/bgerp*.properties
/custom
/_custom*
/filestorage
/lib/app
/lic.data
/log4j.properties
/tmp

/.claude
.DS_Store
