/.project
/.settings
/.classpath
/.vscode/launch.json
/.vscode/settings.json
/.idea

/work
/filestorage
/webapps/WEB-INF/custom
/webapps/WEB-INF/**/custom
/bgcrm_*.properties
/bgerp_*.properties
/log4j.properties

/.gradle
/target
/bin
/test-output
/build/changes.xml

/.DS_Store
dump.sql
