/.project
/.settings
/.classpath
/.vscode/launch.json
/.vscode/settings.json
/.idea

/custom
/_custom
/work
/filestorage
/bgcrm*.properties
/bgerp*.properties
/log4j.properties

/lib/app
/lic.data

/.gradle
/target
/bin
/test-output
/build/changes.xml

/.DS_Store
dump.sql
/gradle.properties
